<h2>New Cat</h2>
<form action="/cats" method="post">
  <label for="cat_name">Cat's Name</label>
  <input name="cat[name]" id="cat_name" type="text">
  <br>

  <label for="cat_age">Age</label>
  <input name="cat[age]" id="cat_age" type="number">
  <br>

  <label for="cat_birth_date">Birth date</label>
  <input name="cat[birth_date]" id="cat_birth_date" type="date">
  <br>

  <label for="cat_color">Color</label>
  <input name="cat[color]" id="cat_color" type="text">
  <br>

  <label for="cat_neighborhood">Neighborhood</label>
  <input name="cat[neighborhood]" id="cat_neighborhood" type="text">
  <br>

  <label for="cat_gender">Gender</label>
  <input name="cat[gender]" id="cat_gender" type="text">
  <br>

</form>










